body {background-color:rgb(234, 192, 149)}
.card-img-top {
  width: 100%;
  height: 10vh;
  object-fit: contain;    
  object-fit: cover;
  border-radius:0.2cm;
}
.col {
  margin-right: 0px;
  margin-left: 0px;
}
